@font-face {
    font-family: 'EB Garamond' ;
    src: 
    url(./ebgaramondmedium.woff2) format('woff2'),
    url(./ebgaramondmedium.woff) format('woff'),
    url(./ebgaramondmedium.ttf) format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url(./ebgaramondmedium.woff2) format('woff2'),
         url(./ebgaramondmedium.woff) format('woff'),
         url(./ebgaramondmedium.ttf) format('truetype');
    font-style: 400;
    font-weight:swap;
}

@font-face {
    font-family: Inter;
    src:
      url(./interbold.woff2)  format('woff2'),
      url(./interbold.woff) format('woff'),
      url(./interbold.ttf) format('truetype');
      font-weight: 400;
      font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(./interbold.woff2) format('woff2'),
         url(./interbold.woff) format('woff'),
         url(./interbold.ttf) format('truetype');
    font-style: 700;
    font-weight: swap;
}